li {
  list-style: none;
}

ul {
  padding: 0;
}

.header {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

footer {
  width: 100%;
  background-color: #2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  padding-bottom: 10px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

table {
  border-spacing: 5px;
}

table {
  margin-left: auto;
  margin-right: auto;
}

table,
th,
td {
  border: 2px #808080 solid;
}

table td {
  padding: 0px 10px 0px 0px;
  text-align: left;
}

.navbar-custom {
  background-color: whitesmoke;
  border-bottom: inset 5px black;
}

.navbar-nav li {
  text-decoration: underline;
  text-align: left
}

body {
  background-image: image-url('home-bg.jpg');
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}

h1 {
  text-align: center
}

.igcl_image {
  margin: 0 auto
}

.actions {
  margin-top: 20px;
}